.message {
    padding: 20px;
    font-size: 25px;
    border: thick solid;
    background: rgb(0, 0, 0, 0.2);
    border-radius: 10px; 
}

.success {
    border-color: green;
    color: green;
}

.fail {
    border-color: red;
    color: red;
}